<%- include('../adminlayout/header.ejs') %>
  <%- include('../adminlayout/sidebar.ejs') %>
    <%- include('../adminlayout/navbar.ejs') %>

      <div class="col-12 grid-margin stretch-card pt-5">
        <div class="card pt-5">
          <div class="card-body">
            <h4 class="card-title">Add Products</h4>
            <span>
              <% if(typeof message !=='undefined' ){ %>
                <p style="text-align: center;color: rgb(207, 28, 28);">
                  <%= message %>
                </p>

                <% } %>
            </span>
            <form class="forms-sample" method="post" action="/admin/insert-products" id="form" enctype="multipart/form-data">
              <div class="form-group">
                <label for="exampleInputName1">Product Name</label>
                <input type="text" class="form-control" id="exampleInputName1" name="productname" required>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Brand</label>
                <select name="brand" class="form-control" id="exampleInputEmail3" required>
                  <option>ZARA</option>
                  <option>LP</option>
                  <option>US POLO</option>
                  <option>NELLY</option>
                  <option>ROADSTER</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3">Size</label>
                <!-- <input type="text" class="form-control" id="exampleInputEmail3" name="size" required> -->
                <select name="size" class="form-control" id="exampleInputEmail3" required>
                  <option>M</option>
                  <option>S</option>
                  <option>L</option>
                  <option>XL</option>
                  <option>XXL</option>
                </select>
              </div>


              <div class="form-group">
                <label for="exampleInputCity1">Catagory</label>
                <select name="category" class="form-control" id="Catagory" required>
                  <% for(let i=0;i<category.length;i++){ %>
                    <option value="<%=category[i].categoryname%>">
                      <%=category[i].categoryname%>
                    </option>
                    <% } %>

                </select>



                <label>Image upload</label>
                <div class="form-group">
                  <label>File upload</label>
                  <input class="bt" style="height: 28px;width: 228px ; background-color: gray;color: white;"
                    accept="Image/*" type="file" name="image" id="image-validate" multiple required>
                    <span id="image-error" class="text-danger"></span>
                </div>
                <div class="form-group">
                  <label for="exampleInputCity1">Quantity</label>
                  <input type="number" class="form-control" id="exampleInputCity1" name="quantity" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail3">Price</label>
                  <input type="number" class="form-control" id="exampleInputEmail3" name="price" required>
                </div>
                <div class="form-group">
                  <label for="exampleTextarea1">Discription</label>
                  <textarea class="form-control" id="exampleTextarea1" rows="4" name="description" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
          </div>
        </div>
      </div>


    <script>
      const imageValue = document.getElementById('image-validate');
  const form = document.getElementById('form');
  const imageError = document.getElementById('image-error');

  form.addEventListener('submit', (e) => {
    e.preventDefault();


    const image = imageValue.files[0];
    if (!image) {
      imageError.textContent = 'Please select an image';
      return;
    } else {
      const allowedExtensions = /\.(jpg|jpeg|png|gif|webp)$/i;
      if (!allowedExtensions.test(image.name)) {
        imageError.textContent = "Invalid image file format";
        return;
      }
      imageError.textContent = "";
      form.submit();
    }
  });
    </script>









      <%- include('../adminlayout/footer.ejs') %>