<%- include('../adminlayout/header.ejs') %>
<%- include('../adminlayout/sidebar.ejs') %>
<%- include('../adminlayout/navbar.ejs') %>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="card-body">
        <h4 class="card-title">CATEGORY LIST</h4>
        <span>
          <% if(typeof message !== 'undefined'){ %>
            <p style="text-align: center; color: red;">
              <%= message %>
            </p>
          <% } %>
        </span>
        <div class="d-flex justify-content-center">
          <a type="button" class="btn btn-secondary w-60" style="margin-top: 80px; margin-left: 10px;"
            data-bs-toggle="modal" data-bs-target="#addcategory">
            <i title="Add Category" class="fa fa-plus"></i> ADD BANNER
          </a>
        </div>
  
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Image</th>
                <th>Text</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>


                
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../adminlayout/footer.ejs') %>
