<%- include('../adminlayout/header.ejs') %>
 




<div>
    <div>SALES REPORT</div>
</div>
    <div class="content-wrapper mt-5">
    <div class="row mt-4">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Order Status</h4>
              <div class="table-responsive">
               
                <table class="table">
              
                  <thead>
                    <tr>
                      <th> product </th>
                      <th> User Name </th>
                      <th> Order No </th>
                      <th> Total Amount </th>
                      <th> Quantity </th>
                      <th> Payment Mode </th>
                      <th> Status </th>
                      <th> Order Date </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% order.forEach((orderItem) => { %>
                        <tr>
                          <td> 
                                <%= orderItem.products.productDetails.productname %>
                          </td>
                          <td><%= orderItem.userName %></td>
                          <td><%= orderItem.products._id %></td>
                          <td><%= orderItem.products.totalPrice %></td>
                          <td><%= orderItem.products.count %></td>
                          <td><%= orderItem.paymentMethod %></td>
                          <td><%= orderItem.products.status %></td>
                          <td><%= orderItem.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g,'-') %></td>
                        </tr>
                     
                    <% }) %>
                  </tbody>
                  
                </table>

                
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>


















    <%- include('../adminlayout/footer.ejs') %>