<%- include('../userlayout/header.ejs') %>
   <!-- <div id="ec-overlay"><span class="loader_img"></span></div> -->

<!-- Header start  -->
<header class="ec-header">
    <!--Ec Header Top Start -->
    <div class="header-top">
        <div class="container">
         
                <!-- Header Top Language Currency -->
                <!-- Header Top responsive Action -->
                <div class="col d-lg-none ">
                    <div class="ec-header-bottons">
                        <!-- Header User Start -->
                        <div class="ec-header-user dropdown">
                                <li><a class="dropdown-item" href="/register">Register</a></li>
                                <li><a class="dropdown-item" href="/login">Login</a></li>
                            </ul>
                        </div>
                        <!-- Header User End -->
                        <!-- Header Cart Start -->
                        <a href="/wishlist-page" class="ec-header-btn ec-header-wishlist">
                            <div class="header-icon"><img src="/assets/images/icons/wishlist.svg"
                                    class="svg_img header_svg" alt="" /></div>
                            <span class="ec-header-count">4</span>
                        </a>
                        <!-- Header Cart End -->
                        <!-- Header Cart Start -->
                        <a href="#ec-side-cart" class="ec-header-btn ec-side-toggle">
                            <div class="header-icon"><img src="/assets/images/icons/cart.svg"
                                    class="svg_img header_svg" alt="" /></div>
                            <span class="ec-header-count cart-count-lable">3</span>
                        </a>
                        <!-- Header Cart End -->
                        <a href="javascript:void(0)" class="ec-header-btn ec-sidebar-toggle">
                            <img src="/assets/images/icons/category-icon.svg" class="svg_img header_svg" alt="icon" />
                        </a>
                        <!-- Header menu Start -->
                        <a href="#ec-mobile-menu" class="ec-header-btn ec-side-toggle d-lg-none">
                            <img src="/assets/images/icons/menu.svg" class="svg_img header_svg" alt="icon" />
                        </a>
                        <!-- Header menu End -->
                    </div>
                </div>
                <!-- Header Top responsive Action -->
            </div>
        </div>
    </div>
    <!-- Ec Header Top  End -->
    <!-- Ec Header Bottom  Start -->
    <div class="ec-header-bottom d-none d-lg-block">
        <div class="container position-relative">
            <div class="row">
                <div class="ec-flex">
                    <!-- Ec Header Logo Start -->
                    <div class="align-self-start d-flex ">
                     <h1>ESSENCE</h1>
                     <div>
                        <a href="/home-page"><h4 class="pt-3 px-5 align-item-center">Home</h4></a>
                    </div>
                    <div>
                        <a href="/shop-page"><h4 class="pt-3">Shop</h4></a>
                    </div>
                    </div>
                    
                  
                   
                        <!-- Ec Header Search Start -->
                        <div class="align-self-center">
                            <div class="header-search">
                                <form class="ec-btn-group-form" method="post" action="/search-products">
                                    <input class="form-control text-dark" name="search" placeholder="Search products..." type="text">
                                    <button class="submit" type="submit"><img src="assets/images/icons/search.svg" class="svg_img header_svg" alt="icon" /></button>
                                  </form>
                            </div>
                        </div>
                        <!-- Ec Header Search End -->
                
                    

                    <!-- Ec Header Button Start -->
                    <div class="align-self-center">
                        <div class="ec-header-bottons">

                            <!-- Header User Start -->
                            <div class="ec-header-user dropdown">
                                <button class="dropdown-toggle" data-bs-toggle="dropdown"><img
                                        src="/assets/images/icons/user.svg" class="svg_img header_svg" alt="" /></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <% if(session == null) { %>                                    
                                    <li><a class="dropdown-item" href="/register">Register</a></li>
                                    <li><a class="dropdown-item" href="/login">Login</a></li>
                                    <% }else{ %>
                                            <li><a class="dropdown-item" href="/user-profile">My Profile</a></li>
                                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                      <% } %>
                                      
                                </ul>
                            </div>
                            <!-- Header User End -->
                            <!-- Header wishlist Start -->
                            <a href="/wishlist-page" class="ec-header-btn ec-header-wishlist">
                                <div class="header-icon"><img src="/assets/images/icons/wishlist.svg"
                                        class="svg_img header_svg" alt="" /></div>
                                <!-- <span class="ec-header-count">4</span> -->
                            </a>
                            <!-- Header wishlist End -->
                            <!-- Header Cart Start -->
                            <a href="/cart-page">
                                <div class="header-icon"><img src="/assets/images/icons/cart.svg"
                                        class="svg_img header_svg" alt="" /></div>
                                <!-- <span class="ec-header-count cart-count-lable">3</span> -->
                            </a>
                            <!-- Header Cart End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec Header Button End -->
    <!-- Header responsive Bottom  Start -->
    <div class="ec-header-bottom d-lg-none">
        <div class="container position-relative">
            <div class="row ">

                <!-- Ec Header Logo Start -->
                <div class="col">
                    <div class="header-logo">
                        <a href="index.html"><img src="assets/images/logo/logo.png" alt="Site Logo" /><img
                                class="dark-logo" src="assets/images/logo/dark-logo.png" alt="Site Logo"
                                style="display: none;" /></a>
                    </div>
                </div>
                <!-- Ec Header Logo End -->
                <!-- Ec Header Search Start -->
                <div class="col">
                    <div class="header-search">
                       

  
                    </div>
                </div>
                <!-- Ec Header Search End -->
            </div>
        </div>
    </div>
    
    <!-- Header responsive Bottom  End -->
    <!-- EC Main Menu Start -->
   
    

         <div id="">
        <!-- Ec breadcrumb start -->
        <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
            <div class="container">
                <div class="col-md-6 col-sm-12">
                    <h2 class="ec-breadcrumb-title">Shop</h2>
                </div>
                <!-- <form class="ec-btn-group-form" method="post" action="/search-products">
                    <input class=" ec-search-bar" name="search" placeholder="Search products..." type="text">
                    <button class="submit" type="submit"><img src="assets/images/icons/search.svg" class="svg_img header_svg" alt="icon" /></button>
                  </form> -->
                <div class="col-md-6 col-sm-12">
                    <!-- ec-breadcrumb-list start -->
                    <ul class="ec-breadcrumb-list">
                        <li class="ec-breadcrumb-item"><a href="/home-page">Home</a></li>
                        <li class="ec-breadcrumb-item active">Shop</li>
                    </ul>
                    <!-- ec-breadcrumb-list end -->
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <!-- Ec breadcrumb end -->
        

    <div id="relodDiv">
        <!-- Ec Shop page -->
        <section class="ec-page-content-bnr section-space-pb bg-light">
            <div class="container">
                <div class="row">
                    <div class="ec-shop-rightside col-lg-9 order-lg-last col-md-12 order-md-first margin-b-30">
                        <!-- Shop Top Start -->
                        <div class="ec-pro-list-top d-flex">
                            <div class="col-md-6 ec-grid-list">

                            </div>
                            <!-- <div class="col-md-6 ec-sort-select">
                                <span class="sort-by">Sort by</span>
                                <div class="ec-select-inner">
                                    <select name="ec-select" id="ec-select">
                                        <option value="/price-sort/1">Price, low to high</option>
                                        <option value="/price-sort/-1">Price, high to low</option>
                                    </select>
                                </div>
                            </div> -->
                        </div>
                        <!-- Shop Top End -->

                        <!-- Shop content Start -->





                        <div class="shop-pro-content">
                            <div class="shop-pro-inner">
                                <div class="row">

                                    <% if(product.length> 0){
                                        for(let i=0;i<product.length;i++){ %>


                                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                                <div class="ec-product-inner">
                                                    <div class="ec-pro-image-outer">
                                                        <div class="ec-pro-image">
                                                            <a href="/showProduct?id=<%= product[i]._id %>" class="">
                                                                <img class="main-image"
                                                                    src="/adminAssets/adminImages/<%= product[i].image[0]  %>"
                                                                    alt="Product image" width="250px" height="300px" />

                                                            </a>
                                                            <% if ( product[i].discountPercentage <= 0) {
                                                                
                                                            }else{  %>
                                                            <span class="percentage"><%= product[i].discountPercentage %>%</span>
                                                             <% } %>

                                                            <div class="ec-pro-actions">
                                                                <button title="Add To Cart"
                                                                    onclick="addtocart('<%=product[i]._id%>')"
                                                                    class=" add-to-cart"><img
                                                                        src="assets/images/icons/cart.svg"
                                                                        class="svg_img pro_svg" alt="" /> Add To Cart</button>
                                                                <a class="ec-btn-group wishlist" onclick="addWishlist('<%=product[i]._id%>')" title="Wishlist"><img
                                                                        src="assets/images/icons/wishlist.svg"
                                                                        class="svg_img pro_svg" alt="" /></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ec-pro-content">
                                                        <p>
                                                            <%= product.brand %>
                                                        </p>
                                                        <h5 class="ec-pro-title"><a
                                                                href="/showProduct?id=<%= product[i]._id %>">
                                                                <%= product[i].productname %>
                                                            </a></h5>

                                                        <div class="ec-pro-list-desc"></div>
                                                        <span class="ec-price">
                                                            <% 
                                                              const discount =  product[i].discountPercentage 

                                                               const price =  product[i].price 

                                                               const disAmount = Math.round((price*discount)/100)

                                                               const total = price - disAmount


                                                            %>
                                                            <% if(disAmount <= 0) {%>
                                                            <span class="new-price">₹ <%= product[i].price %>.00</span>
                                                            <% }else{ %>
                                                                <del class="new-price text-danger">₹ <%= product[i].price %>.00</del> 
                                                                <span class="new-price">₹ <%= total %>.00</span>

                                                                <% } %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <% } } %>

                                </div>
                            </div>




                            <!-- Ec Pagination Start -->
                            <div class="ec-pro-pagination">
                                <span>Showing 1-12 of 21 item(s)</span>
                                <ul class="ec-pro-pagination-inner">
                                    <li><a class="active" href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a class="next" href="#">Next <i class="ecicon eci-angle-right"></i></a></li>
                                </ul>
                            </div>
                            <!-- Ec Pagination End -->
                        </div>
                        <!--Shop content End -->



                    </div>
                    <!-- Sidebar Area Start -->
                    <div class="ec-shop-leftside col-lg-3 order-lg-first col-md-12 order-md-last">
                        <div id="shop_sidebar">
                            <div class="ec-sidebar-heading">
                                <h1>Filter Products By</h1>
                            </div>
                            <div class="ec-sidebar-wrap">
                                <!-- Sidebar Category Block -->
                                <div class="ec-sidebar-block">
                                    <div class="ec-sb-title">
                                        <h3 class="ec-sidebar-title">Category</h3>
                                    </div>
                                    <div class="ec-sb-block-content">
                                        <ul>
                                            <% if(category.length>0){
                                                for(let i=0;i<category.length;i++){ %>

                                                    <li>
                                                        <div class="ec-sidebar-block-item">
                                                           

                                                              <a href="/filter-category/<%= category[i].categoryname %>">
                                                                <%= category[i].categoryname %>
                                                            </a>
                                                        </div>
                                                    </li>

                                                    <% } } %>
                                                    <li>
                                                        <div class="ec-sidebar-block-item">
                                                           

                                                              <a href="/shop-page">
                                                                All
                                                            </a>
                                                        </div>
                                                    </li>

                                        </ul>
                                    </div>
                                </div>
                                <!-- Sidebar Size Block -->
                                <div class="ec-sidebar-block">
                                    <div class="ec-sb-title">
                                        <h3 class="ec-sidebar-title">Price Filter</h3>
                                    </div>
                                    <div class="ec-sb-block-content">
                                        <ul>
                                                    <li>
                                                        <div class="ec-sidebar-block-item">
                                                           <a href="/price-sort/<%= 1 %>"> Low To High </a> 
                                                        </div>
                                                     </li>
                                                     <li>   
                                                        <div class="ec-sidebar-block-item">
                                                            <a href="/price-sort/<%= -1%>"> High To Low </a> 
                                                        </div>
                                                    </li>

                                        </ul>
                                    </div>
                                </div>
                                <!-- Sidebar Size Block -->
                        

                                <!-- Sidebar Price Block -->
                                <div class="ec-sidebar-block">
                                    <div class="ec-sb-title">
                                        <h3 class="ec-sidebar-title">Price</h3>
                                    </div>
                                    <div class="ec-sb-block-content es-price-slider">
                                        <div class="ec-price-filter">
                                            <div id="ec-sliderPrice" class="filter__slider-price" data-min="0"
                                                data-max="250" data-step="10"></div>
                                            <div class="ec-price-input">
                                                <label class="filter__label"><input type="text"
                                                        class="filter__input"></label>
                                                <span class="ec-price-divider"></span>
                                                <label class="filter__label"><input type="text"
                                                        class="filter__input"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
        <script>

            function addtocart(productid) {
                $.ajax({
                    url: "/addtocart",
                    method: "post",
                    data: {
                        id: productid
                    },
                    success: (response) => {
                        if (response.success) {
                            swal.fire({
                                positon: 'center',
                                icon: "success",
                                title: 'product added to cart',
                                showConfirmButton: false,
                                timer: 1500,
                            })
                        }else {
                        swal.fire({ 
                        icon: 'error',
                        title: 'Oops...',
                        text: response.message
                        });
                    } 
                    }
                })
            }
            
          

            
            function addWishlist(id){
               $.ajax({
              
                url:'/addtoWishlist',
                method:'post',
                data: {
                        proId:id
                    },
                    success: (response) => {
                        swal.fire({
                                positon: 'center',
                                icon: "success",
                                title: 'product added to wishlist',
                                showConfirmButton: false,
                                timer: 1500,
                            })
                        }

               })
            }

             

        </script>

        <%- include('../userlayout/footer.ejs') %>