<%- include('../userlayout/header.ejs') %>
<%- include('../userlayout/navbar.ejs') %>

<div id="reloadDiv">
    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec ec-breadcrumb section-space-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row ec_breadcrumb_inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="ec-breadcrumb-title">User Profile</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- ec-breadcrumb-list start -->
                            <ul class="ec-breadcrumb-list">
                                <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="ec-breadcrumb-item active">My Order</li>
                            </ul>
                            <!-- ec-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- User profile section -->
    <section class="ec-page-content ec-vendor-uploads ec-user-account pb-5">
        <div class="d-flex justify-content-center ">
            <div class="p-5 w-50 h-50" style="border: 1px solid #dee2e6">
                <h1>Order Details</h1>
                <span>Order Date :</span><span class="font-weight-bold"><%= orders.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g,'-') %></span><br>
                <span>Total Amount : <span class="font-weight-bold">₹ <%= orders.totalAmount %>.00</span></span><br>
                <span>Payment Method :<span class="font-weight-bold"><%= orders.paymentMethod %></span></span><br>
                <span> Order Id:</span><span class="font-weight-bold"><%= orders._id %></span></span><br>
                <span>Address :</span><span class="font-weight-bold"><%= orders.deliveryAddress %></span></span><br>
                <span>Expected Date :</span><span class="font-weight-bold"><%= expectedDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g,'-') %></span></span><br>
                <a href="/invoice-download/<%= orders._id %>"><button class="btn btn-outline-primary my-3">Download invoice</button></a>
            </div>
        </div>

        <div class="container p-1">
            <div class="ec-shop-rightside col-lg-12 col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Order Id</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (orders.products.length > 0) {
                        orders.products.forEach((order) => { %>
                        <tr>
                            <td>
                                <img width="50px" height="50px" src="/adminAssets/adminImages/<%= order.productid.image[0] %>" alt="">
                                <%= order.productid.productname %>
                            </td>
                            <td><%= order.count %></td>
                            <td><%= order.productid._id %></td>
                            <td>₹ <%= order.productPrice %>.00</td>
                            <% if (order.status === 'cancelled') { %>
                             <td class="text-danger"><%= order.status %></td> 
                             <% }else if(order.status === 'Delivered'){ %>
                                <td class="text-success"><%= order.status %></td>        
                            <% }else{ %>    
                            <td><%= order.status %></td>
                            <% } %>
                            <td>
                                <% if (order.status === 'cancelled') { %>
                                <% } else if (order.status === 'Delivered') { %>
                                    <%
                                    const todayDate = new Date();
                                    const expiryDate = new Date(order.deliveredDate);
                                    expiryDate.setDate(expiryDate.getDate() + 7);
                                    const dateDiff = expiryDate.getTime() - todayDate.getTime();
                                    const daysDiff = Math.ceil(dateDiff / (1000 * 60 * 60 * 24));
                                    %>

                                    <% if (todayDate >= expiryDate) { %>
                                    <p>Return Expired</p>
                                    <% } else { %>
                                    <button data-bs-toggle="modal" data-bs-target="#returnModal-<%= order._id %>" class="btn btn-outline-danger">Return</button><br>
                                    <span><%= daysDiff %> days left until return expires</span>
                                    <% } %>
                                    
                                <% } else if (order.status === 'Out For Delivery') { %>
                                <p class="text-success">out for delivery</p>
                                <% } else if (order.status === 'returned') { %>
                                <p class="text-success">order returned</p>
                                <% } else { %>
                                <button data-bs-toggle="modal" data-bs-target="#cancelModal-<%= order._id %>"  class="btn btn-outline-danger">Cancel</button>
                                <% } %>
                            </td>
                        </tr>
                       
                        <!-- Cancel Modal -->
                        <div class="modal fade" id="cancelModal-<%= order._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <form action="/cancel-order" method="post">
                                    <input type="hidden" value="<%= order._id %>" name="orderid">
                                    <input type="hidden" value="<%= orders._id %>" name="ordersid">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Are You Sure</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="mx-5 mt-2"><input type="radio" value="Loss of interest" name="reason" required> <span class="font-weight-bold">Loss of interest</span></p>
                                            <p class="mx-5"><input type="radio" value="Unexpected Shipping costs" name="reason" required> <span class="font-weight-bold">Unexpected Shipping costs</span></p>
                                            <p class="mx-5 mb-2"><input type="radio" value="other" name="reason" required> <span class="font-weight-bold">other</span></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">No</button>
                                            <button type="submit" class="btn btn-danger  btn-lg">Yes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End Cancel Modal -->
                        <!-- return Modal -->
                        <div class="modal fade" id="returnModal-<%= order._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <form action="/return-order" method="post">
                                    <input type="hidden" value="<%= order._id %>" name="orderid">
                                    <input type="hidden" value="<%= orders._id %>" name="ordersid">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Are You Sure Want To Return</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <textarea name="reason" rows="3"  placeholder="enter your reason" required></textarea>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger  btn-lg">Return</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End return Modal -->
                        <% }) } %>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<!-- End User profile section -->



<%- include('../userlayout/footer.ejs') %>
