<%- include('../userlayout/header.ejs') %>
<%- include('../userlayout/navbar.ejs') %>

<div id="reloadDiv">
    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec ec-breadcrumb section-space-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row ec_breadcrumb_inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="ec-breadcrumb-title">User Profile</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- ec-breadcrumb-list start -->
                            <ul class="ec-breadcrumb-list">
                                <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="ec-breadcrumb-item active">My Order</li>
                            </ul>
                            <!-- ec-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- User profile section -->
    <section class="ec-page-content ec-vendor-uploads ec-user-account pb-5">
        <div class="d-flex justify-content-center ">
            <div class="p-5 w-50 h-50" style="border: 1px solid #dee2e6">
                <h1>Order Details</h1>
                <span>Order Date :</span><span class="font-weight-bold"><%= orders.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g,'-') %></span><br>
                <span>Total Amount : <span class="font-weight-bold">₹ <%= orders.totalAmount %>.00</span></span><br>
                <span>Payment Method :<span class="font-weight-bold"><%= orders.paymentMethod %></span></span><br>
                <span> Order Id:</span><span class="font-weight-bold"><%= orders._id %></span></span><br>
                <span>Address :</span><span class="font-weight-bold"><%= orders.deliveryAddress %></span></span><br>
                <span>Expected Date :</span><span class="font-weight-bold"><%= expectedDate.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g,'-') %></span></span><br>
            </div>
        </div>

        <div class="container p-1">
            <div class="ec-shop-rightside col-lg-12 col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Order Id</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (orders.products.length > 0) {
                        orders.products.forEach((order) => { %>
                        <tr>
                            <td>
                                <img width="50px" height="50px" src="/adminAssets/adminImages/<%= order.productid.image[0] %>" alt="">
                                <%= order.productid.productname %>
                            </td>
                            <td><%= order.count %></td>
                            <td><%= order.productid._id %></td>
                            <td>₹ <%= order.productPrice %>.00</td>
                            <% if (order.status === 'cancelled') { %>
                             <td class="text-danger"><%= order.status %></td> 
                             <% }else if(order.status === 'Delivered'){ %>
                                <td class="text-success"><%= order.status %></td>        
                            <% }else{ %>    
                            <td><%= order.status %></td>
                            <% } %>
                            <td>
                                <% if (order.status === 'cancelled') { %>
                                <% } else if (order.status === 'Delivered') { %>
                                <button class="btn btn-outline-danger">Return</button>
                                <% } else { %>
                                <button onclick="cancelOrder('<%= order._id %>')" class="btn btn-outline-danger">Cancel</button>
                                <% } %>
                            </td>
                        </tr>
                        <% }) } %>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<!-- End User profile section -->

<script>
    function cancelOrder(order) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You want to cancel the order!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/cancel-order",
                    data: {
                        id: order
                    },
                    method: 'post',
                    success: (response) => {
                        location.reload();
                    },
                    error: (error) => {
                        Swal.fire({
                            title: 'Error!',
                            text: 'An error occurred while deleting the item.',
                            icon: 'error',
                            showConfirmButton: false
                        });
                    }
                });
            }
        });
    }
</script>

<%- include('../userlayout/footer.ejs') %>
